<div class="container">
  <h1>Editing Tournament</h1>

  <%= render 'form', tournament: @tournament %>

  <%= link_to 'Show', @tournament, class: "btn btn-light rounded-pill" %> |
  <%= link_to 'Back', tournaments_path, class: "btn btn-light rounded-pill" %>
</div>
