<tr>
  <td><%= gameplayer.game_id %></td>
  <td><%= gameplayer.player.full_name %></td>
  <td><%= gameplayer.rtng_change %> / <%= gameplayer.player.tournament_rtng(gameplayer.game.round.tournament_id).round%></td>
</tr>