<div class="container index_home">
  <p id="notice"><%= notice %></p>
  
  <h1>Chesza</h1>
  
  <div class="container calculator my-5">
    <table class="form-group calulator_table">
    <tbody>
      <div id="result"></div>
      <br />
        <tr>
          <td><input class="form-control" id="elo1" placeholder="My rating"/></td>
        </tr>
        <tr>  
          <td><input id="elo2" class="form-control" placeholder="Opp. rating" /></td>
        </tr>
        <tr>
          <td><select name="points" id="points" class="form-control type="select">
            <option selected="selected">Result</option>
            <option>1</option>
            <option>0.5</option>
            <option>0</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><select name="valork" id="valork" class="form-control" type="select">
              <option selected="selected">Select k</option>
              <option>40</option>
              <option>30</option>
              <option>20</option>
              <option>15</option>
              <option>10</option>
            </select>
          </td>
        </tr>  
            <script type="application/javascript">
              document.getElementById("valork").selectedIndex = 0;
            </script>
          </td>
        </tr>
        <tr>
          <td colspan=2 align=center><br /><button class= 'btn btn-light rounded-pill'>Calculate</button></td>
        </tr>
    </tbody>
  </table>
</div>  


      <div id="dif_400">* Al ser la diferencia de rating mayor de &plusmn;400, se aplicacomo diferencia límite &plusmn;400.<br>Más información en el FIDE Handbook B02.8<div>
      <br /> Porcentaje esperado
      <div id="porcentaje"></div>
      K <sub>val</sub>
      <div id="kcoeficiente"></div>
      Nuevo elo
      <div id="nuevoelo"></div>

      <div class="col-md-6">
        <h3>Help notes:</h3>
        <ul>
          <li><strong>Rating - Rating of a player.</strong></li>
          <li><strong>Rc - Opponent rating.</strong></li>
          <li><strong>W - Score.</strong></li>
          <li><strong>K val - K</strong> is the development coefficient.</li>
          <li><strong>K</strong> is the development coefficient.</li><br>
          <li><strong>K = 40</strong> for a player new to the rating list until he hascompleted events with at least 30 games.</li>
          <li><strong>K = 20</strong> as long as a player's rating remains under 2400.<li>
          <li><strong>K = 10</strong> once a player's published rating has reached 2400and remains at that level subsequently, even if the rating drops below 2400.<li>
          <li><strong>K = 40</strong> for all players until their 18th birthday, as longas their rating remains under 2300.</li>
          <li><strong>K = 20</strong> for RAPID and BLITZ ratings all players.</li>
        </ul>

  
  <br>
</div>