<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Players</h1>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead class="thead-dark">
      <tr>
        <th>Fide number</th>
        <th>Title</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Fed</th>
        <th>Gender</th>
        <th>B day</th>
        <th>Ranked player</th>
        <th>Elo</th>
        <th>Ranked opponents</th>
        <th>K value</th>
        <th>Last elo update</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @players.each do |player| %>
        <%= render @players %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Player', new_player_path, class: 'btn btn-dark rounded mb-4' %>
  </div>
</div>

