<<<<<<< HEAD
<h1>New Player</h1>

<%= render 'form', player: @player %>

<%= link_to 'Back', players_path %>
=======
<div class="container">

  <h1>New Player</h1>

  <%= render 'form', player: @player %>

  <%= link_to 'Back', players_path %>
</div>
>>>>>>> test
