<div class="container my-5">
  <h1>Editing Gameplayer</h1>
  <%= render 'form', gameplayer: @gameplayer %>
  <%= link_to 'Show', @gameplayer %> |
  <%= link_to 'Back', gameplayers_path %>
</div>
<div class="bloque-500"></div>